<p>Hello,</p>
<p>Confirm your email by clicking on the link below:</p>
<%= link_to('Confirm Your Account', {
    controller: "user_confirmations",
    action: :show,
    confirmation_token: @user.confirmation_token
}) %>
<p>Welcome to Sandra!</p>