<p>Hello,</p>
<p>Use the link below to reset your password</p>
<%= link_to('Reset your password', {
    controller: "password_resets",
    action: :show,
    reset_token: @user.reset_password_token }) %>
<p>Welcome to Sandra!</p>