---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_o3tBAg3KocqABuMk4JkJppxP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-01-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19mYc0FkaYWExJSgDxvvmigx",
          "object": "token",
          "card": {
            "id": "card_19mYc0FkaYWExJSgBoGTT4VI",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2017,
            "fingerprint": "CChTiOE5EWLGQavo",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "79.119.114.240",
          "created": 1486949200,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 13 Feb 2017 01:26:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=USD&source=tok_19mYc0FkaYWExJSgDxvvmigx&metadata[purchase_id]=2&description=Charge+for+Ruby+on+Rails+Tutorial+%28Purchase+ID+2%29
    headers:
      Authorization:
      - Bearer sk_test_o3tBAg3KocqABuMk4JkJppxP
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2017-02-13 03:26:39 +0200/2/2
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2017-02-13 03:26:39 +0200/2/2
      Original-Request:
      - req_A6mAV3QwqXhFnR
      Stripe-Version:
      - '2017-01-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "charge": "ch_19mYc2FkaYWExJSgy4kdv56R"
          }
        }
  recorded_at: Mon, 13 Feb 2017 01:26:42 GMT
recorded_with: VCR 3.0.3
