---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_o3tBAg3KocqABuMk4JkJppxP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-01-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19mWwyFkaYWExJSgeGMUyx82",
          "object": "token",
          "card": {
            "id": "card_19mWwyFkaYWExJSgKuBU1lNK",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2017,
            "fingerprint": "3LzGpSQcovqDxsWs",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "79.119.114.240",
          "created": 1486942812,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 12 Feb 2017 23:40:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=USD&source=tok_19mWwyFkaYWExJSgeGMUyx82&metadata[purchase_id]=1&description=Charge+for+Ruby+on+Rails+Tutorial+%28Purchase+ID+1%29
    headers:
      Authorization:
      - Bearer sk_test_o3tBAg3KocqABuMk4JkJppxP
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2017-02-13 01:40:11 +0200/1/1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2017-02-13 01:40:11 +0200/1/1
      Original-Request:
      - req_A6kRSkohzUqesx
      Stripe-Version:
      - '2017-01-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_19mWwzFkaYWExJSgvZNpMMQr",
          "object": "charge",
          "amount": 299,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_19mWwzFkaYWExJSg1zFQuxxw",
          "captured": true,
          "created": 1486942813,
          "currency": "usd",
          "customer": null,
          "description": "Charge for Ruby on Rails Tutorial (Purchase ID 1)",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase_id": "1"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_19mWwzFkaYWExJSgvZNpMMQr/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_19mWwyFkaYWExJSgKuBU1lNK",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2017,
            "fingerprint": "3LzGpSQcovqDxsWs",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Sun, 12 Feb 2017 23:40:14 GMT
recorded_with: VCR 3.0.3
